In [1]:
import pandas as pd

In [2]:
df_movement = pd.read_csv("../nba-movement-data/data/csv/0021500577.csv")

df_movement.head()

,team_id,player_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,game_id,event_id
0,-1,-1,34.03194,29.88978,1.33122,710.42,16.9,1,21500577,1
1,1610612766,101107,13.84921,17.47510,0.00000,710.42,16.9,1,21500577,1
2,1610612766,201587,31.08585,26.80877,0.00000,710.42,16.9,1,21500577,1
3,1610612766,202689,8.37396,22.86151,0.00000,710.42,16.9,1,21500577,1
4,1610612766,203469,10.31474,29.96760,0.00000,710.42,16.9,1,21500577,1

In [3]:
df_shots = pd.read_csv("../nba-movement-data/data/shots/shots.csv")

df_shots.head()

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,21500014,20,202083,Wesley Matthews,1610612742,Dallas Mavericks,1,9,4,...,Right Side Center(RC),24+ ft.,24,78,228,1,0,20151028,PHX,DAL
1,Shot Chart Detail,21500014,168,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,11,2,...,Left Side Center(LC),24+ ft.,25,-232,106,1,0,20151028,PHX,DAL
2,Shot Chart Detail,21500014,217,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,8,10,...,Right Side Center(RC),24+ ft.,24,177,174,1,1,20151028,PHX,DAL
3,Shot Chart Detail,21500014,340,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,10,57,...,Right Side Center(RC),24+ ft.,24,222,111,1,1,20151028,PHX,DAL
4,Shot Chart Detail,21500014,358,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,9,33,...,Right Side(R),16-24 ft.,21,182,110,1,0,20151028,PHX,DAL

In [ ]:
df_shots.columns

In [10]:
df_shots.shape

(205538, 24)

In [9]:
df_shots["GAME_ID"].value_counts().shape

(1230,)

In [6]:
df_shots_fixed = pd.read_csv("../nba-movement-data/data/shots/shots_fixed.csv")

df_shots_fixed.head()

,ACTION_TYPE,EVENTTIME,EVENT_TYPE,GAME_DATE,GAME_EVENT_ID,GAME_ID,GRID_TYPE,HTM,LOC_X,LOC_Y,...,SHOT_DISTANCE,SHOT_MADE_FLAG,SHOT_TIME,SHOT_TYPE,SHOT_ZONE_AREA,SHOT_ZONE_BASIC,SHOT_ZONE_RANGE,TEAM_ID,TEAM_NAME,VTM
0,Jump Shot,215,Missed Shot,20151223,93,21500435,Shot Chart Detail,LAL,-23.9825,157.0968,...,15,0,218.50,2PT Field Goal,Center(C),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC
1,Dunk Shot,191,Made Shot,20151223,97,21500435,Shot Chart Detail,LAL,224.3221,24.9662,...,0,1,204.83,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,OKC
2,Jump Shot,518,Made Shot,20151223,164,21500435,Shot Chart Detail,LAL,-5.4122,173.0601,...,16,1,520.65,2PT Field Goal,Center(C),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,OKC
3,Jump Shot,120,Missed Shot,20151223,382,21500435,Shot Chart Detail,LAL,-25.9351,158.7570,...,15,0,123.26,2PT Field Goal,Center(C),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC
4,Jump Shot,646,Made Shot,20151223,14,21500435,Shot Chart Detail,LAL,178.3350,20.1712,...,15,1,650.49,2PT Field Goal,Right Side(R),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,OKC

In [7]:
df_shots_fixed.shape

(84467, 27)

In [13]:
df_shots_fixed['GAME_ID'].unique().shape

(523,)