In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../nba-movement-data/data/shots/shooter_and_defender_per_shot_ranked.csv")

df.head()

,player_id,game_id,event_id,game_clock,shot_clock,x_loc,y_loc,player_id_closest_defender,closest_distance_from_shooter,distance_from_basket,shot_made_flag,recorded_shot_distance,shooter_embedding_index,defender_embedding_index
0,201143,21500001,228,1346.48,10.44,5.90704,38.78493,203083,4.823530,14.088122,1,13,98,255.0
1,202704,21500001,437,2575.29,13.97,19.94944,21.56599,200794,0.885241,17.293812,0,1,233,94.0
2,2594,21500001,477,2721.36,11.19,22.62340,11.06127,203484,2.368097,24.070023,1,20,46,306.0
3,2594,21500001,507,2831.96,17.99,22.47487,13.84307,202704,5.118656,22.444323,0,21,46,233.0
4,203076,21500003,504,2421.86,8.87,24.98951,35.88171,202691,2.629288,24.534673,1,16,248,222.0

In [6]:
df.shape

(27321, 14)

In [4]:
df_player_agg = pd.read_csv("../nba-movement-data/data/player/player_aggregates.csv")

df_player_agg.head()

   PLAYER_ID    PLAYER_NAME      0    1  rank
0        708  Kevin Garnett   61.0   54     0
1        977    Kobe Bryant  715.0  398     1
2       1495     Tim Duncan  226.0  215     2
3       1713   Vince Carter  210.0  133     3
4       1717  Dirk Nowitzki  614.0  498     4

In [7]:
df_player_agg.shape

(444, 5)